<!-- Select2 Plugin Plugin -->
<script src="vendor/plugins/select2/select2.min.js"></script>

<div class="row">
    <div class="col-md-12">
        
        <!-- Task widget -->
        <ng-include src="'partials/project-widget.html'"></ng-include>
        <!-- end: Task widget -->
        
    </div>
    
    <div class="col-md-12">

        <!-- Task widget -->
        <ng-include src="'partials/task-widget.html'"></ng-include>
        <!-- end: Task widget -->
        
    </div>
</div>
